#intro-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    flex-direction: column;
}

#intro {
    display: flex;
    border: 5px solid rgb(89, 92, 95);
    flex-direction: column;
    padding: 50px 90px;
    font: bold;
    border-radius: 5px;
}

#intro:hover {
    border: 5px solid var(--color1);
    transition: 0.5s;
}


#intro div:nth-child(1) {
    font-size: 64px;
    font-weight: 700;
    margin-top: 20px;
    color: var(--color1);
}

#intro div:nth-child(2) {
    font-size: 64px;
    font-weight: 700;
    color: var(--color1);
}

#intro div:nth-child(3) {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 700;
    color: rgb(107, 204, 107);
    font-family: "Roboto", sans-serif;
}

#know-more {
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    max-width: 650px;
    text-align: justify;
    color: white;
    text-justify: "inter-word";
}

#social-links {
    margin-top: 25px;
    display: flex;
}

#social-links a {
    margin: 0 10px;
    font-size: 18px;

}

#social-links a img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}